<ion-view title="Pending Orders" id="page20" style="background-color:Default;">
    <ion-content padding="true" class="has-header">

        <div class="card" ng-repeat="order in orders | orderBy:'-dateTime'">
          <div class="item item-divider bar-positive">
            {{order.itemName}} x {{order.quantity}}
          </div>
          <div class="item item-text-wrap">
            <p style="color:green"> {{order.email}} </p>
            <p style="color:red">{{order.couponCode}}</p>
          </div>
          <div class="item item-divider">
            {{order.dateTime}}
          </div>
          <div class="item">
            <button ng-click="issueItem(order.couponCode)" class="button button-block button-outline button-positive">
              Issue Item
            </button>
          </div>
        </div>

    </ion-content>
</ion-view>