<ion-view title="Deals near you" hide-nav-bar="true" id="page2">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 id="dealsNearYou-heading2" style="color:#FF0000;">DEALS NEAR YOU</h4>

        <div class="list card" ng-repeat="item in items | orderBy:distance" id="dealsNearYou-card21">
            <h3 id="dealsNearYou-heading1" style="color:#000000;">{{item.itemName}}</h3>
            <ion-item class="item-avatar" id="dealsNearYou-list-item1" ng-click="loadRestaurant(item.restaurantName)">
                <img ng-src="{{item.restaurantImage}}">
                <h2>{{item.restaurantName}}</h2>
                <p>{{item.restaurantAddress}}</p>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ng-click="loadItem(item)">
                    <img ng-src="{{item.link}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div id="dealsNearYou-markdown1" style="color:#000000;">
                <p>{{item.description}}</p>
            </div>
            <ion-item class="assertive" id="dealsNearYou-list-item4">${{item.discountPrice | number : 2}}
                <span class="item-note">Save $ {{item.actualPrice - item.discountPrice | number : 2}}</span>
            </ion-item>
            <ion-item class="item-icon-left balanced" id="dealsNearYou-list-item3" ng-click="loadItem(item)">
                <i class="icon ion-ios-cart"></i>Order Now</ion-item>
        </div>
    
        <div id="dealsNearYou-markdown4" style="color:#000000;">
            <p>Couldn't find it? Try our search..</p>
        </div>
        <a ui-sref="tabsController.search" id="dealsNearYou-button4" class="button button-positive  button-block">Yes! Take me to Search</a>
    </ion-content>
</ion-view>