<ion-view title="Feedback" id="page20">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="feedback-card211">
            <ion-item class="item-thumbnail-left positive" id="feedback-list-item63">
                <img src="img/wOuDe4q1S3y5puKf9vmt_5050742194_e66ec0fa9f_b-881x587.jpg">
                <h2positive>Hot and Spicy Combo
                    <p style="white-space:normal;">Rating 4 / 5</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="feedback-list-item68">
                <h2>Ronald James</h2>
                <p>Food is average. Clean restaurant and the staff is very friendly</p>
                <i class="icon ion-android-star-half"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="feedback-list-item69">
                <h2>Alisha Parker</h2>
                <p>The best spicy dish I have ever had! Thumbs up!</p>
                <i class="icon ion-android-star"></i>
            </ion-item>
        </div>
        <div class="list card" id="feedback-card213">
            <ion-item class="item-thumbnail-left positive" id="feedback-list-item70">
                <img src="img/wOuDe4q1S3y5puKf9vmt_5050742194_e66ec0fa9f_b-881x587.jpg">
                <h2positive>Garlic bread meal
                    <p style="white-space:normal;">Rating 2/ 5</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="feedback-list-item71">
                <h2>Ronald James</h2>
                <p>Food is average. Clean restaurant and the staff is very friendly</p>
                <i class="icon ion-android-star-half"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right" id="feedback-list-item72">
                <h2>Amenda Peries</h2>
                <p>DO NOT ever go their...! This is totally a shit cooked on a pan..!</p>
                <i class="icon ion-android-star-outline"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>