<ion-view title="Highest Rated " hide-nav-bar="true" id="page17">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 id="highestRated-heading25" style="color:#FF0000;">TOP RATED DEALS IN MELBOURNE</h4>
        
        <div class="list card" ng-repeat="item in items" id="dealsNearYou-card21">
            <h3 id="dealsNearYou-heading1" style="color:#000000;">{{item.itemName}}</h3>
            <ion-item class="item-avatar" id="dealsNearYou-list-item1" ui-sref="tabsController.restaurant">
                <img ng-src="{{item.restaurantImage}}">
                <h2>{{item.restaurantName}}</h2>
                <p>230 meters away</p>
            </ion-item>
            <div class=" item item-image">
                <a style="display:block;" ui-sref="tabsController.item">
                    <img ng-src="{{item.link}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <div id="dealsNearYou-markdown1" style="color:#000000;">
                <p>{{item.description}}</p>
            </div>
            <ion-item class="assertive" id="dealsNearYou-list-item4">${{item.discountPrice | number : 2}}
                <span class="item-note">Save $ {{item.actualPrice - item.discountPrice | number : 2}}</span>
            </ion-item>
            <ion-item class="item-icon-left balanced" id="dealsNearYou-list-item3" ui-sref="tabsController.item">
                <i class="icon ion-ios-cart"></i>Order Now</ion-item>
        </div>

        <div id="highestRated-markdown22" style="color:#000000;">
            <p>Couldn't find it? Try our search..</p>
        </div>
        <a ui-sref="tabsController.search" id="highestRated-button19" class="button button-positive  button-block">Yes! Take me to Search</a>
    </ion-content>
</ion-view>