<ion-view title="Profile" id="page12" style="background-color:Default;">
    <ion-content padding="true" class="has-header">
    <a ui-sref="login" id="login-button2" class="button button-assertive  button-block">Logout</a>
        <h4 id="history-heading12" style="color:#000000;">Order History</h4>
        <ion-list id="history-list7">
            <ion-item class="item-thumbnail-left positive" ng-repeat="item in itemList" id="history-list-item31">
                <img ng-src="{{item.link}}">
                <h2positive>{{item.total}} x {{item.item.itemName}}
                    <p style="white-space:normal;">$ {{item.total*item.item.discountPrice | number : 2}}</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <div id="history-markdown16" style="color:#000000;">
            <p>You have earned
                <strong>$ {{subTotal | number : 2}}</strong> with us in total.</p>
        </div>
    </ion-content>
</ion-view>