<ion-view title="Item" id="page13">
    <ion-content padding="true" class="has-header">
        <h3 id="item-heading13" style="color:#FF0000;text-align:center;">{{currentItem.itemName}}</h3>
        <h5 id="item-heading15" style="color:#8D8686;text-align:center;">{{currentItem.restaurantName}}</h5>
        <a ui-sref="tabsController.map" id="item-button12" style="font-weight:300;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-location" ng-if="i.distance" ng-bind="i.distance"></a>
        <div>
            <img ng-src="{{currentItem.link}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="item-list9">
            <ion-item class="positive" id="item-list-item27">${{currentItem.discountPrice | number : 2}}
                <span class="item-note">Save $ {{currentItem.actualPrice - currentItem.discountPrice | number : 2}}</span>
            </ion-item>
            <ion-item class="item-avatar positive" id="item-list-item38">
                <img src="img/itcmaN23QZm93XaA9Fr6_Icon_lieutenant_star_3.png">
                <h2positive>Rated : {{currentItem.rating | number : 2}} / 5
                    <p style="white-space:normal;">Based on {{currentItem.feedbackCount}} feedbacks</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div id="item-markdown17" style="color:#797575;font-size:15px;text-align:justify;">
            <p>{{currentItem.description}}</p>
        </div>
        <form id="item-form4" class="list">
            <b><p class="assertive" ng-if="orderStatus"> please specify correct quantity</p></b>
            <label class="item item-input item-floating-label" id="item-input8" name="qty">
                <span class="input-label">Qty :</span>
                <input ng-model="inputQ.qty" type="number" min="0" placeholder="QTY :">
            </label>
            <button id="item-button13" ng-click="order()" class="button button-assertive  button-block">Order Now!</button>
            <h3 id="item-heading24" style="color:#000000;">Feedbacks</h3>
            <ion-item ng-repeat="feedback in currentItemFeedbacks" class="item-avatar item-icon-right positive" id="item-list-item39">
                <img ng-src="{{feedback.profilePicture}}">
                <h2positive> {{feedback.firstName }}&nbsp {{feedback.lastName}}
                    <p style="white-space:normal;">{{feedback.feedback}}</p>
                    <i class="icon {{feedback.userRating}}"></i>
                </h2positive>
            </ion-item>
            <b><p class="assertive" ng-if="feedbackStatus"> {{feedbackFailReason}}</p></b>
            <form id="item-form5" class="list">
                <label class="item item-input" id="item-input9">
                    <span class="input-label">Comment</span>
                    <input type="text" ng-model="i.comment" placeholder="Write your feedback here..">
                </label>
                <label class="item item-input" id="item-input10">
                    <span class="input-label">Rating</span>
                    <input type="number" min="0" max="5" ng-model="i.rating" placeholder="Your rating outof 5">
                </label>
                <button id="item-button18" ng-click="submitFeedback()" class="button button-positive  button-block">Add Feedback</button>
            </form>
        </form>
    </ion-content>
</ion-view>