<ion-view title="Manage Meals" hide-nav-bar="true" id="page21">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="manageMeals-heading34" style="color:#000000;">Manage Meals</h3>
        <button id="manageMeals-button26" ng-click="addNewItem()" class="button button-positive  button-block">Add a new Meal</button>
        <div class="list card" ng-repeat="(key,item) in itemList" id="manageMeals-card212">
            
            <ion-item class="item-icon-right dark" id="manageMeals-list-item65">{{item.item.itemName}}
              
            </ion-item>
            <div class=" item item-image">
                <img ng-src="{{item.link}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="manageMeals-markdown25" style="color:#000000;text-align:justify;">
                <p>{{item.item.description}}
                </p>
            </div>
            
            <ion-item class="item-icon-right positive" id="manageMeals-list-item66">$ {{item.item.discountPrice | number:2}}
                <span class="item-note">Discounted Price</span>
            </ion-item>
            <ion-item class="item-icon-right assertive" id="manageMeals-list-item80">$ {{item.item.actualPrice | number : 2}}
                <span class="item-note">In-Restaurant Price</span>
            </ion-item>
            <ion-item class="item-icon-left assertive"  id="manageMeals-list-item67">
                <ion-toggle ng-model="item.enableMeal.value" ng-true-value="'enabled'" ng-false-value="'disabled'" ng-change="i.onDelete(key,item.item.itemID)" toggle-class="toggle-calm">Enable Meal</ion-toggle>
        </div>
    </ion-content>
</ion-view>