<ion-view title="Map" id="page14">
    <ion-content padding="true" class="has-header">
    	<div ng-if="i.loading">
    		<div class="spacer" style="height: 120px;"></div>
    		<center><ion-spinner icon="lines"></ion-spinner></center>
   		</div>
    	<div id="map" data-tap-disabled="true"></div>


	</ion-content>
</ion-view>