<ion-view title="Add new item" id="page29">
    <ion-content padding="true" class="has-header">
      <div class="list">
         <div ng-if="i.Error" style="color:#FF0000"; class="item item-text-wrap">
                    Please fill all the details
         </div>
         <label class="item item-input">
            <input type="text" ng-model="i.name" placeholder="Item Name">
         </label>

         <label class="item item-input">
            <textarea type="text" ng-model="i.description" height="30px" placeholder="Description"></textarea>
         </label>

         <label class="item item-input">
            <input type="number" min="0" ng-model="i.disPrice" placeholder="Discount Price">
         </label>

         <label class="item item-input">
            <input type="number" min="0" ng-model="i.actualPrice" placeholder="Actual Price">
         </label>

         <label class="item item-input">
            <input type="text" ng-model="i.imgLink" placeholder="Image Link">
         </label>
      </div>

      <button ng-click="onInsert()" class="button bar button-positive">
            Insert
      </button>

      <div class="spacer" style="height: 10px;"></div>

      <button ng-click="onCancel()" class="button bar button-assertive button-outline">
            Cancel
      </button>

    </ion-content>
</ion-view>