<ion-view title="Payment Success!" id="page16">
    <ion-content padding="true" class="has-header">
        <h5 id="paymentSuccess-heading18" style="color:#000000;font-weight:400;">Your payment has been successfully approved</h5>
        <h3 id="paymentSuccess-heading19" style="color:#000000;">Your coupon code is :</h3>
        <div class="list card" id="paymentSuccess-card22">
            <ion-item class="positive" id="paymentSuccess-list-item36">{{last.couponCode}}</ion-item>
            <ion-item class="item-icon-left balanced" id="paymentSuccess-list-item37" ui-sref="tabsController.map_tab3">
                <i class="icon ion-ios-location"></i>Navigate me to the restaurant</ion-item>
        </div>
        <h5 id="paymentSuccess-heading20" style="color:#807A7A;font-weight:300;text-align:center;">Show this screen at the counter when you arrive at the restaurant</h5>
        <h3 id="paymentSuccess-heading21" style="color:#FC0000;text-align:center;">Enjoy your meal!</h3>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <h5 id="paymentSuccess-heading22" style="color:#E20F4A;font-weight:300;">Don't forget to leave feedback and collect credit</h5>
        <a ui-sref="tabsController.dealsNearYou" id="paymentSuccess-button17" class="button button-positive  button-block">Provide feedback</a>
        <h5 id="paymentSuccess-heading23" style="color:#888383;font-weight:300;text-align:justify;">When you leave feedback, you will recieve credit points, which will be equal to the amount you spent. You can spend this points when you shop with us next time to gain a further discount..!!</h5>

        <a ui-sref="tabsController.dealsNearYou" id="payment-button16" class="button button-assertive  button-block button-outline">Cancel</a>
    </ion-content>
</ion-view>