<ion-view title="Payment" id="page15">
    <ion-content padding="true" class="has-header">
        
        <div class="list card">
             <div class="item item-avatar">
                <img ng-src="{{orderItem.restaurantImage}}" >
                <h2>{{orderItem.itemName}}</h2>
                <p>{{orderItem.restaurantName}}</p>
              </div>
            <div class="item item-body">
              
                <img class="full-image" ng-src="{{orderItem.link}}" >
                <p>{{orderItem.description}}</p>
                <p>
                  <a class="subdued">{{orderItem.feedbackCount}} Feedbacks</a>
                  <a class="subdued">Rated {{orderItem.rating | number : 2}} / 5</a>
                  <a class="subdued">Saves $ {{orderItem.actualPrice - orderItem.discountPrice | number : 2 }} / portion</a>
                </p>
             
            </div>
            <label class="item item-input">
                <span class="input-label">Qty : </span>
                <input ng-change="qtyChanged()" ng-model="i.qty" type="number" min="1">
            </label>
        </div>

        <h5 id="payment-heading35" style="color:#000000;font-weight:300;text-align:center;">You have {{user.feedbackPoints}} DINE Credits, which means you have to pay only</h5>
        <h1 id="payment-heading36" ng-bind="total | currency : '$ '" style="color:#317DEE;text-align:center;">$ {{orderItem.discountPrice*orderItem.qty - user.feedbackPoints/100 | number : 2 }}</h1>
        <h4 id="payment-heading17" style="color:#000000;text-align:center;">Confirm and Pay using</h4>
        <button id="payment-button14" ng-click="purchase()" class="button button-positive  button-block icon-left ion-cash">Paypal</button>
        
        <form ng-if="i.stripe" stripe:form="saveCustomer">
            <div class="list">
                <div ng-if="i.stripeError" style="color:#FF0000"; class="item item-text-wrap">
                    {{i.stripeError}}
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="number" size="20" placeholder="credit card number" data-stripe="number"/>
                    </label>
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="number" size="3" placeholder="cvc" data-stripe="cvc"/>
                    </label>
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="number" size="2" placeholder="MM" data-stripe="exp-month"/>
                    </label>
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="number" size="2" placeholder="YY" data-stripe="exp-year"/>
                    </label>
                </div>
            </div>
             <center><button type ="submit" class="button button-positive button-outline">Pay</button></center>
         </form>

        <button id="payment-button15" ng-click="purchaseStripe()" class="button button-royal  button-block icon-left ion-cash">Stripe</button>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <a ui-sref="tabsController.dealsNearYou" id="payment-button16" class="button button-assertive  button-block button-outline">Cancel</a>
    </ion-content>
</ion-view>