<ion-view title="Profile" id="page11" style="background-color:Default;">
    <ion-content padding="true" class="has-header">
    <a ui-sref="login" id="login-button2" class="button button-assertive  button-block">Logout</a>

    <div class="list card">

          <div class="item">
            <center><h2>{{me.firstName}} {{me.lastName}}</h2></center>
            <center><p>{{me.email}}</p><center>
          </div>

          <div class="item item-image">
            <img ng-src="{{me.profilePicture}}">
          </div>

          <a class="item  item-text-wrap">
            <div id="profile-markdown26" style="color:#000000;text-align:justify;">
            <p>You have
                <strong style="color:#FF0000;" >{{me.feedbackPoints}} DINE</strong> credit. It will save <strong>$ {{me.feedbackPoints/100 | number : 2}}</strong> on your next buy</p>
            </div>
          </a>

        </div>

        
        <h4 id="profile-heading11" style="color:#000000;">Purchase History</h4>
        <div class="list card" ng-repeat="his in history">

        <div ng-show="{{his.issued == 0}}"class="item" style="color:#000000;">
            <div class="bar bar-header bar-assertive">
              You haven't picked this item yet!
            </div>
        </div>
        <div ng-click="viewCode(his.couponCode)" ng-show="{{his.issued == 0}}"class="item" style="color:#000000;">
            <div class="bar bar-header bar-positive">
              view coupon code
            </div>
        </div>
          <div class="item item-avatar">
            <img ng-src="{{his.link}}">
            <h2>{{his.item.itemName}}</h2>
            <p>{{his.dateTime}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" ng-src="{{his.link}}">
            <p>
              {{his.item.description}}
            </p>
            <p>
              <a  class="subdued">{{his.quantity}} Portions</a>
              <a  style="color:#FF0000;" class="subdued">$ {{his.totalPrice | number: 2}}</a>
            </p>
          </div>

        </div>

        
        <div class="spacer" style="width: 300px; height: 28px;"></div>
       
    </ion-content>
</ion-view>