<ion-view title="Restaurant Details" id="page19">
    <ion-content padding="true" class="has-header">
        <form id="restaurantDetails-form8" class="list">
            <label class="item item-input" id="restaurantDetails-input14">
                <span class="input-label">Restaurant Name</span>
                <input type="text" ng-model="i.name" placeholder="">
            </label>
            <label class="item item-input" id="restaurantDetails-input15">
                <span class="input-label">Address</span>
                <input type="text" ng-model="i.address" placeholder="48, Street 01, City, Postcode">
            </label>
             <label class="item item-input" id="restaurantDetails-input35">
                <span class="input-label">Image Link</span>
                <input type="text" ng-model="i.image">
            </label>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider2">Opening Hours (ex: 0800 - 2300)</ion-item>
            <div class="list">
                  <label class="item item-input">
                    <input type="text" ng-model="i.sunday" placeholder="Sunday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.monday" placeholder="Monday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.tuesday" placeholder="Tuesday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.wednesday" placeholder="Wednesday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.thursday" placeholder="Thursday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.friday" placeholder="Friday">
                  </label>
                  <label class="item item-input">
                    <input type="text" ng-model="i.saturday" placeholder="Saturday">
                  </label>
            </div>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider3">Give a description about your restaurant</ion-item>
            <label class="item item-input" id="restaurantDetails-textarea1">
                <textarea ng-model="i.desc" placeholder=""></textarea>
            </label>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider4">Setup your payment accounts</ion-item>
            <label class="item item-input" id="restaurantDetails-input11">
                <span class="input-label">Paypal</span>
                <input type="text" ng-model="i.paypal" placeholder="Enter your email address accosiated with your paypal account">
            </label>
            <label class="item item-input" id="restaurantDetails-input16">
                <span class="input-label">Stripe</span>
                <input type="text" ng-model="i.stripe" placeholder="Enter your email address accosiated with your stripe account">
            </label>
        </form>
        <button id="restaurantDetails-button21" ng-click="update()" class="button button-positive  button-block">Update details</button>
    </ion-content>
</ion-view>