<ion-view title="Restaurant" id="page18">
    <ion-content padding="true" class="has-header">
        <h3 id="restaurant-heading30" style="color:#FF0000;text-align:center;">{{currentRestaurant.restaurantName}}</h3>
        <h5 id="restaurant-heading31" style="color:#8D8686;text-align:center;">{{currentRestaurant.address}}</h5>
        <a id="item-button12" style="font-weight:300;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-location" ng-if="i.distance" ng-bind="i.distance"></a>
        <div>
            <img ng-src="{{restaurantImage}}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="restaurant-list14">
            <ion-item class="positive" id="restaurant-list-item40">{{openStatus}}
                <span class="item-note">{{todayTime}}</span>
            </ion-item>
        </ion-list>
        <div id="restaurant-markdown24" style="color:#797575;font-size:15px;text-align:justify;">
            <p>{{currentRestaurant.description}}</p>
        </div>
        <h3 id="restaurant-heading33" style="color:#000000;">Dishes</h3>
        <ion-list id="restaurant-list13">

            <ion-item class="item-avatar assertive" ng-repeat="item in itemList" id="restaurant-list-item41" ng-click="loadItem(item)">
                <img ng-src="{{item.link}}">
                <h2assertive>{{item.itemName}}
                    <p style="white-space:normal;">$ {{item.discountPrice | number : 2}}</p>
                </h2assertive>
            </ion-item>

        </ion-list>
        <div class="spacer" style="width: 748px; height: 36px;"></div>
       
    </ion-content>
</ion-view>