<ion-view title="Search" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="search-form3" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="search.keyword" placeholder="food, restaurant or location">
            </label>
            
            <a ng-click="onSearch()" id="search-button" class="button button-positive  button-block">Show me!</a>

            <h3 id="search-heading29" style="color:#7A7978;">Deals</h3>
            <div class="item item-body" ng-repeat="deal in deals | orderBy : order " id="search-list-item-container5">
                <ion-list id="search-list4">
                    <ion-item class="item-thumbnail-left positive" id="search-list-item15"  ng-click="loadItem(deal)">
                        <img ng-src="{{deal.link}}">
                        <h2positive>{{deal.itemName}}
                            <p style="white-space:normal;">{{deal.restaurantName}}</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
                <div id="search-markdown9" style="color:#FF0000;text-align:right;">
                    <p>
                        <strong>$ {{deal.discountPrice | number : 2}}</strong>
                    </p>
                </div>
            </div>
        </form>

        <h3 id="search-heading16" style="color:#7A7978;">Restaurants</h3>
        <div class="item item-body" ng-repeat="res in restaurants" id="search-list-item-container7">
            <ion-list id="search-list11">
                <ion-item class="item-thumbnail-left positive" id="search-list-item14" ng-click="loadRestaurant(res.restaurantName)">
                    <img  ng-src="{{res.restaurantImage}}">
                    <h2positive>{{res.restaurantName}}
                        <p style="white-space:normal;">{{res.address}}</p>
                    </h2positive>
                </ion-item>
            </ion-list>
        </div>

    </ion-content>
</ion-view>