<ion-view title="Sign up" id="page6">
    <ion-content padding="true" style="background: url(img/LVeSh6UfRZKIsdlFxrhO_food-restaurant-photographer-cyprus-28.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="signUp-form2" class="list">
            <ion-list id="signUp-list2">
               <label style="color:#FF0000"; ng-if="i.fillError" class="item item-input" id="signUp-input3">
                    Please fill all the fields before submit.
                </label>
                <label style="color:#FF0000"; ng-if="i.exists" class="item item-input" id="signUp-input4">
                    Email Address already taken!
                </label>
                <label class="item item-input" id="signUp-input3">
                    <span class="input-label">First Name</span>
                    <input type="text" ng-model="i.fName" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input7">
                    <span class="input-label">Last Name</span>
                    <input type="text" ng-model="i.lName" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input4">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="i.email" placeholder="">
                </label>
                <label style="color:#FF0000"; ng-if="i.pwdError" class="item item-input" id="signUp-input3">
                    Passwords are not matching!
                </label>
                <label class="item item-input" id="signUp-input6">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="i.password" placeholder="">
                </label>
                <label class="item item-input" id="signUp-input5">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" ng-model="i.passwordConf"  placeholder="">
                </label>
                <label class="item item-input" id="signUp-input6">
                    <span class="input-label">Image URL</span>
                    <input type="text" ng-model="i.image"  placeholder="">
                </label>
            </ion-list>
            <ion-item class="item-divider" id="signUp-list-item-divider1">Select user type</ion-item>
            <ion-radio id="signUp-radio1" ng-model="i.selectionValue" value="customer" name="type">I'm a customer</ion-radio>
            <ion-radio id="signUp-radio2" ng-model="i.selectionValue" value="restaurant" name="type">I'm a restaurant</ion-radio>
            <a ng-click="onSignUp()" id="signUp-button3" class="button button-positive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>