<ion-view title="Highest Rated " hide-nav-bar="true" id="page17">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 id="highestRated-heading25" style="color:#FF0000;">TOP RATED DEALS IN MELBOURNE</h4>
        <div class="list card" id="highestRated-card28">
            <h3 id="highestRated-heading26" style="color:#000000;">Zinger Combo meal</h3>
            <ion-item class="item-avatar" id="highestRated-list-item44">
                <img src="img/xowblCL3T4ycyKK2rgWs_lovemark-kfc-standard-600x600.jpg">
                <h2>KFC</h2>
                <p>23 Kms away</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/ViBBF19eT02TKG5kHQZp_burger_zinger_combo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="highestRated-markdown19" style="color:#000000;">
                <p>Mouth watering and spicy combo meal :
                    <br>
                    <strong>1 regular Zinger burger, Regular Chips and a Pepsi 400ml Can</strong>
                </p>
            </div>
            <ion-item class="assertive" id="highestRated-list-item45">$ 10.95
                <span class="item-note">Save $ 1.10</span>
            </ion-item>
            <ion-item class="item-icon-left balanced" id="highestRated-list-item46">
                <i class="icon ion-ios-cart"></i>Order Now</ion-item>
        </div>
        <div class="list card" id="highestRated-card29">
            <h3 id="highestRated-heading27" style="color:#000000;">Chinese Hot Pot</h3>
            <ion-item class="item-avatar" id="highestRated-list-item47">
                <img src="img/1nv3NZSYR9WtDtAnIy04_can-stock-photo_csp17536227.jpg">
                <h2>Daintee Sichuan Restaurant</h2>
                <p>1.2 KMs away</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/CE0ITn4SIu6ucvCrlbUZ_dsc_0098.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="highestRated-markdown20" style="color:#000000;">
                <p>Traditional chinese Hot Pot meal now in Melbourne :
                    <br>
                    <strong>Customizable meal including chicken, meat, different soups and fresh vegetables</strong>
                </p>
            </div>
            <ion-item class="assertive" id="highestRated-list-item48">10% off
                <span class="item-note">for every order you place with us</span>
            </ion-item>
            <ion-item class="item-icon-left balanced" id="highestRated-list-item49">
                <i class="icon ion-ios-cart"></i>Order Now</ion-item>
        </div>
        <div class="list card" id="highestRated-card210">
            <h3 id="highestRated-heading28" style="color:#000000;">Tendercrisp Hunger Tamer</h3>
            <ion-item class="item-avatar" id="highestRated-list-item50">
                <img src="img/Iqd2rI6ySsGProOiu0st_icon175x175.jpeg">
                <h2>Hungry Jacks</h2>
                <p>400 meters away</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/tcPRZ6PRvCbMX7cEm3Q2_20150822-Chicken-300x300.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="highestRated-markdown21" style="color:#000000;">
                <p>Hot and flame grilled hunger buster :
                    <br>
                    <strong>1 regular fillet burger, Cheesburger, Regular Chips, 3 Chicken nuggets and a Pepsi 400ml</strong>
                </p>
            </div>
            <ion-item class="assertive" id="highestRated-list-item51">$ 11.95
                <span class="item-note">Save $ 2.25</span>
            </ion-item>
            <ion-item class="item-icon-left balanced" id="highestRated-list-item52">
                <i class="icon ion-ios-cart"></i>Order Now</ion-item>
        </div>
        <div id="highestRated-markdown22" style="color:#000000;">
            <p>Couldn't find it? Try our search..</p>
        </div>
        <a ui-sref="tabsController.search" id="highestRated-button19" class="button button-positive  button-block">Yes! Take me to Search</a>
    </ion-content>
</ion-view>