<ion-view title="History" id="page12" style="background-color:Default;">
    <ion-content padding="true" class="has-header">
        <h4 id="history-heading12" style="color:#000000;">Order History</h4>
        <ion-list id="history-list7">
            <ion-item class="item-thumbnail-left positive" id="history-list-item31">
                <h2positive>12 x Combo meals
                    <p style="white-space:normal;">$ 122.40</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="history-list-item35">
                <h2positive>12 x Combo meals
                    <p style="white-space:normal;">$ 122.40</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="history-list-item34">
                <h2positive>12 x Combo meals
                    <p style="white-space:normal;">$ 122.40</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <div id="history-markdown16" style="color:#000000;">
            <p>You have earned
                <strong>$ 1112.00</strong>with us in total.</p>
        </div>
    </ion-content>
</ion-view>