<ion-view title="Item" id="page13">
    <ion-content padding="true" class="has-header">
        <h3 id="item-heading13" style="color:#FF0000;text-align:center;">Italian Pepper Steak</h3>
        <h5 id="item-heading15" style="color:#8D8686;text-align:center;">Carlo Monte Resturant</h5>
        <a ui-sref="tabsController.map" id="item-button12" style="font-weight:300;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-location">220 meters away from you</a>
        <div>
            <img src="img/0PqXWGqQWyet7nf13qZJ_pepper-steak-main.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="item-list9">
            <ion-item class="positive" id="item-list-item27">$ 23.30
                <span class="item-note">Save $ 2.20</span>
            </ion-item>
            <ion-item class="item-avatar positive" id="item-list-item38">
                <img src="img/itcmaN23QZm93XaA9Fr6_Icon_lieutenant_star_3.png">
                <h2positive>Rated : 3.0 / 5
                    <p style="white-space:normal;">Based on 24 feedbacks</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div id="item-markdown17" style="color:#797575;font-size:15px;text-align:justify;">
            <p>Pepper steak is a stir-fried Chinese American dish consisting of sliced beef steak cooked with sliced green and/or red bell peppers and other seasonings such as soy sauce and ginger, and usually thickened with cornstarch.</p>
        </div>
        <form id="item-form4" class="list">
            <label class="item item-input item-floating-label" id="item-input8" name="qty">
                <span class="input-label">Qty :</span>
                <input type="number" placeholder="QTY :">
            </label>
            <button id="item-button13" class="button button-assertive  button-block">Order Now!</button>
            <h3 id="item-heading24" style="color:#000000;">Feedbacks</h3>
            <ion-item class="item-avatar item-icon-right positive" id="item-list-item39">
                <img src="img/Soy4zDYeQy2LPJivy8ZD_ranbirkapoorranveersinghfacemerge652x4006_1441704378.jpg">
                <h2positive>Ranbir Kapoor
                    <p style="white-space:normal;">Clean restaurant, but the food is pretty much average. Good for quick meal.</p>
                    <i class="icon ion-android-star-half"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="item-list-item42">
                <img src="img/F7Gktt4KTpmlh32gU0Gk_597788.jpg">
                <h2positive>Shradda Kapoor
                    <p style="white-space:normal;">Very nice food and very nice people. Highly recommendable..</p>
                    <i class="icon ion-android-star-outline"></i>
                </h2positive>
            </ion-item>
            <form id="item-form5" class="list">
                <label class="item item-input" id="item-input9">
                    <span class="input-label">Comment</span>
                    <input type="text" placeholder="Write your feedback here..">
                </label>
                <label class="item item-input" id="item-input10">
                    <span class="input-label">Rating</span>
                    <input type="number" placeholder="Your rating outof 5">
                </label>
                <button id="item-button18" class="button button-positive  button-block">Add Feedback</button>
            </form>
        </form>
    </ion-content>
</ion-view>