<ion-view title="Login" hide-nav-bar="true" id="page5">
    <ion-content padding="true" style="background: url(img/hSU1OnajQSG0OY7ryz8Y_dish-918613_1920.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form id="login-form1" class="list">
            <div class="spacer" style="width: 300px; height: 29px;"></div>
            <div>
                <img src="img/3tnS1vEGSJePTGB7paaZ_dineLogo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div ng-controller="shiranCtrl">
                <ul>
                        <li ng-repeat="person in persons"> 
                                {{person.email}}
                        </li>
                </ul>
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <a ui-sref="tabsController.dealsNearYou" id="login-button1" class="button button-balanced  button-block">Log in</a>
        </form>
        <a ui-sref="signUp" id="login-button2" class="button button-assertive  button-block">Or create an account</a>
        <h3 id="login-heading14" style="color:#FFFFFF;text-align:center;">Or</h3>
        <a ui-sref="tabsController.dealsNearYou" id="login-button11" class="button button-energized  button-block">Log in with Google</a>
        <a ui-sref="tabsController.dealsNearYou" id="login-button10" class="button button-positive  button-block">Log in with Facebook</a>
    </ion-content>
</ion-view>