<ion-view title="Manage Meals" hide-nav-bar="true" id="page21">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="manageMeals-heading34" style="color:#000000;">Manage Meals</h3>
        <button id="manageMeals-button26" class="button button-positive  button-block">Add a new Meal</button>
        <div class="list card" id="manageMeals-card212">
            <div class="spacer" style="width: 748px; height: 9px;"></div>
            <ion-item class="item-icon-right dark" id="manageMeals-list-item65">Zinger Combo meal
                <span class="item-note">edit name</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/ViBBF19eT02TKG5kHQZp_burger_zinger_combo.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <button id="manageMeals-button24" class="button button-positive button-small button-block button-outline">Add a picture</button>
            <div id="manageMeals-markdown25" style="color:#000000;text-align:justify;">
                <p>Mouth watering and spicy combo meal :
                    <br>
                    <strong>1 regular Zinger burger, Regular Chips and a Pepsi 400ml Can</strong>
                </p>
            </div>
            <button id="manageMeals-button25" class="button button-stable button-small button-block button-clear icon-right ion-edit">Edit description</button>
            <ion-item class="item-icon-right positive" id="manageMeals-list-item66">$ 10.95
                <span class="item-note">Edit discounted price</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive" id="manageMeals-list-item80">$ 10.95
                <span class="item-note">Edit actual price</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left assertive" id="manageMeals-list-item67">
                <i class="icon ion-android-delete"></i>Remove this Meal</ion-item>
        </div>
        <div class="list card" id="manageMeals-card215">
            <div class="spacer" style="width: 748px; height: 9px;"></div>
            <ion-item class="item-icon-right dark" id="manageMeals-list-item74">Spicy Beef
                <span class="item-note">edit name</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/OkdMsOyJTVaejZ7kB6AL_5050742194_e66ec0fa9f_b-881x587.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <button id="manageMeals-button27" class="button button-positive button-small button-block button-outline">Add a picture</button>
            <div id="manageMeals-markdown29" style="color:#000000;">
                <p>Mouth watering and spicy combo meal :
                    <br>
                    <strong>1 regular Zinger burger, Regular Chips and a Pepsi 400ml Can</strong>
                </p>
            </div>
            <button id="manageMeals-button28" class="button button-stable button-small button-block button-clear icon-right ion-edit">Edit description</button>
            <ion-item class="item-icon-right positive" id="manageMeals-list-item75">$ 10.95
                <span class="item-note">Edit discounted price</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive" id="manageMeals-list-item81">$ 10.95
                <span class="item-note">Edit actual price</span>
                <i class="icon ion-edit icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left assertive" id="manageMeals-list-item76">
                <i class="icon ion-android-delete"></i>Remove this Meal</ion-item>
        </div>
    </ion-content>
</ion-view>