<ion-view title="Payment" id="page15">
    <ion-content padding="true" class="has-header">
        <ion-list id="payment-list10">
            <ion-item class="item-thumbnail-left assertive" id="payment-list-item33" ui-sref="tabsController.item_tab3">
                <img src="img/xtXrS1DSnCYDfHiHnuBq_pepper-steak-main.jpg">
                <h2assertive>2 X Pepper Steak
                    <p style="white-space:normal;">Italian Monte Resturant, 46 St. Khilda Rd, Melborune VIC 3133.</p>
                </h2assertive>
            </ion-item>
            <ion-item class="item-icon-right positive" id="payment-list-item28" ui-sref="tabsController.item_tab3">$ 44.40
                <span class="item-note">edit</span>
                <i class="icon ion-edit"></i>
            </ion-item>
        </ion-list>
        <h5 id="payment-heading35" style="color:#000000;font-weight:300;text-align:center;">You have 120 DINE Credits, which means you have to pay only</h5>
        <h1 id="payment-heading36" style="color:#317DEE;text-align:center;">$ 40.00</h1>
        <h4 id="payment-heading17" style="color:#000000;text-align:center;">Confirm and Pay using</h4>
        <button id="payment-button14" class="button button-positive  button-block icon-left ion-cash">Paypal</button>
        <button id="payment-button15" class="button button-royal  button-block icon-left ion-cash">Stripe</button>
        <div class="spacer" style="width: 300px; height: 47px;"></div>
        <a ui-sref="tabsController.dealsNearYou" id="payment-button16" class="button button-assertive  button-block button-clear">Cancel</a>
    </ion-content>
</ion-view>