<ion-view title="Profile" id="page11" style="background-color:Default;">
    <ion-content padding="true" class="has-header">
        <div id="profile-markdown26" style="color:#000000;text-align:justify;">
            <p>You have
                <strong>120</strong>DINE credit. It will save $2.50 on your next buy</p>
        </div>
        <h4 id="profile-heading11" style="color:#000000;">Purchase History</h4>
        <ion-list id="profile-list6">
            <ion-item class="item-thumbnail-left positive" id="profile-list-item26">
                <h2positive>2 x Combo meals
                    <p style="white-space:normal;">KFC : $ 22.40 | 31.08.2016 | 02.22 PM</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="profile-list-item29">
                <h2positive>2 x Combo meals
                    <p style="white-space:normal;">KFC : $ 22.40 | 31.08.2016 | 02.22 PM</p>
                </h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="profile-list-item30">
                <h2positive>2 x Combo meals
                    <p style="white-space:normal;">KFC : $ 22.40 | 31.08.2016 | 02.22 PM</p>
                </h2positive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <div id="profile-markdown15" style="color:#000000;">
            <p>You have saved
                <strong>$ 12.00</strong>with us in total.</p>
        </div>
    </ion-content>
</ion-view>