<ion-view title="Restaurant Details" id="page19">
    <ion-content padding="true" class="has-header">
        <form id="restaurantDetails-form8" class="list">
            <label class="item item-input" id="restaurantDetails-input14">
                <span class="input-label">Restaurant Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" id="restaurantDetails-input15">
                <span class="input-label">Address</span>
                <input type="text" placeholder="48, Street 01, City, Postcode">
            </label>
            <button id="restaurantDetails-button23" class="button button-positive button-small button-block button-outline">Upload Images</button>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider2">Opening Hours</ion-item>
            <ion-item id="restaurantDetails-list-item56">Sunday</ion-item>
            <ion-item id="restaurantDetails-list-item57">Monday</ion-item>
            <ion-item id="restaurantDetails-list-item59">Tuesday</ion-item>
            <ion-item id="restaurantDetails-list-item58">Wednesday</ion-item>
            <ion-item id="restaurantDetails-list-item60">Thursday</ion-item>
            <ion-item id="restaurantDetails-list-item61">Friday</ion-item>
            <ion-item id="restaurantDetails-list-item62">Saturday</ion-item>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider3">Give a description about your restaurant</ion-item>
            <label class="item item-input" id="restaurantDetails-textarea1">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
            <ion-item class="item-divider" id="restaurantDetails-list-item-divider4">Setup your payment accounts</ion-item>
            <label class="item item-input" id="restaurantDetails-input11">
                <span class="input-label">Paypal</span>
                <input type="text" placeholder="Enter your email address accosiated with your paypal account">
            </label>
            <label class="item item-input" id="restaurantDetails-input16">
                <span class="input-label">Stripe</span>
                <input type="text" placeholder="Enter your email address accosiated with your stripe account">
            </label>
        </form>
        <button id="restaurantDetails-button21" class="button button-positive  button-block">Update details</button>
    </ion-content>
</ion-view>