<ion-view title="Restaurant" id="page18">
    <ion-content padding="true" class="has-header">
        <h3 id="restaurant-heading30" style="color:#FF0000;text-align:center;">Cinnamon's Sri Lankan Restaurant</h3>
        <h5 id="restaurant-heading31" style="color:#8D8686;text-align:center;">St Khilda Rd, Flagstaff, VIC 3003</h5>
        <a ui-sref="tabsController.map" id="restaurant-button20" style="font-weight:300;" class="button button-balanced button-small button-block button-outline icon-right ion-ios-location">220 meters away from you</a>
        <div>
            <img src="img/wpCnBXnLRgyWa9g42XJw_043_nugaGamaNightJPG.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="restaurant-list14">
            <ion-item class="positive" id="restaurant-list-item40">Now Open!
                <span class="item-note">Today : 11.30 AM to 12.00 AM</span>
            </ion-item>
        </ion-list>
        <div id="restaurant-markdown24" style="color:#797575;font-size:15px;text-align:justify;">
            <p>Went to Cinnamon with a bunch of girl friends to have a taste of supposedly authentic Sri Lankan cuisine. The place was jam packed when we got there. The buffet set was a huge selection of curries. I was a bit disappointed with some of the
                dishes as it was either too dry or did not taste fresh to me. But the desserts took a surprising turn and was exceptionally good. Will recommend to people who have yet to taste Sri Lankan food - but don't expect too much either. All in
                all a fairly ok experience.</p>
        </div>
        <h3 id="restaurant-heading33" style="color:#000000;">Dishes</h3>
        <ion-list id="restaurant-list13">
            <ion-item class="item-avatar assertive" id="restaurant-list-item41" ui-sref="tabsController.item">
                <img src="img/x5bExZmQQmSlQBGpz0zw_ls.jpg">
                <h2assertive>Chicken Tikka Masala
                    <p style="white-space:normal;">$ 10.30</p>
                </h2assertive>
            </ion-item>
            <ion-item class="item-avatar assertive" id="restaurant-list-item54" ui-sref="tabsController.item">
                <img src="img/noXwBJZIQnejIKBSMRpk_Chicken-Curry-5.jpg">
                <h2assertive>Sri Lankan chicken curry
                    <p style="white-space:normal;">$ 12.30</p>
                </h2assertive>
            </ion-item>
            <ion-item class="item-avatar assertive" id="restaurant-list-item55" ui-sref="tabsController.item">
                <img src="img/PjY1khjTA6s4RjJJLQOp_malai-palak-paneer.jpg">
                <h2assertive>Palak paneer
                    <p style="white-space:normal;">$ 10.30</p>
                </h2assertive>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 748px; height: 36px;"></div>
        <form id="restaurant-form7" class="list">
            <h3 id="restaurant-heading32" style="color:#000000;">Feedbacks</h3>
            <ion-item class="item-avatar item-icon-right positive" id="restaurant-list-item43">
                <img src="img/Soy4zDYeQy2LPJivy8ZD_ranbirkapoorranveersinghfacemerge652x4006_1441704378.jpg">
                <h2positive>Ranbir Kapoor
                    <p style="white-space:normal;">Clean restaurant, but the food is pretty much average. Good for quick meal.</p>
                    <i class="icon ion-android-star-half"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="restaurant-list-item53">
                <img src="img/F7Gktt4KTpmlh32gU0Gk_597788.jpg">
                <h2positive>Shradda Kapoor
                    <p style="white-space:normal;">Very nice food and very nice people. Highly recommendable..</p>
                    <i class="icon ion-android-star-outline"></i>
                </h2positive>
            </ion-item>
        </form>
    </ion-content>
</ion-view>