<ion-view title="Search" id="page9">
    <ion-content padding="true" class="has-header">
        <form id="search-form3" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="food, restaurant or location">
            </label>
            <div id="search-button-bar1" class="button-bar">
                <button id="search-button5" class="button button-positive button-small button-block button-outline">Sort by</button>
                <button id="search-button7" class="button button-assertive button-small button-block button-outline">Filter by</button>
            </div>
            <h3 id="search-heading29" style="color:#000000;">Deals</h3>
            <div class="item item-body" id="search-list-item-container5">
                <ion-list id="search-list4">
                    <ion-item class="item-thumbnail-left positive" id="search-list-item15" ui-sref="tabsController.item">
                        <img src="img/1xhN7cWAQWOG38muazQO_IMG_9933-Version-2.jpg">
                        <h2positive>Nasi Goreng
                            <p style="white-space:normal;">Chilie Everest</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
                <div id="search-markdown9" style="color:#FF0000;text-align:right;">
                    <p>
                        <strong>$ 12.45</strong>
                    </p>
                </div>
            </div>
            <div class="item item-body" id="search-list-item-container4">
                <ion-list id="search-list3">
                    <ion-item class="item-thumbnail-left positive" id="search-list-item13" ui-sref="tabsController.item">
                        <img src="img/Lw4yZ8MRSSCEpSuXH7Ga_6298649094_3e1bec03a9_o.jpg">
                        <h2positive>Sri Lankan Fried Rice
                            <p style="white-space:normal;">Cinnamon's Sri Lankan cafe</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
                <div id="search-markdown8" style="color:#FF0000;text-align:right;">
                    <p>
                        <strong>$ 10.45</strong>
                    </p>
                </div>
            </div>
            <div class="item item-body" id="search-list-item-container6">
                <ion-list id="search-list5">
                    <ion-item class="item-thumbnail-left positive" id="search-list-item16" ui-sref="tabsController.item">
                        <img src="img/1xhN7cWAQWOG38muazQO_IMG_9933-Version-2.jpg">
                        <h2positive>Nasi Goreng
                            <p style="white-space:normal;">Chilie Everest</p>
                        </h2positive>
                    </ion-item>
                </ion-list>
                <div id="search-markdown10" style="color:#FF0000;text-align:right;">
                    <p>
                        <strong>$ 12.45</strong>
                    </p>
                </div>
            </div>
        </form>
        <h3 id="search-heading16" style="color:#000000;">Restaurants</h3>
        <div class="item item-body" id="search-list-item-container7">
            <ion-list id="search-list11">
                <ion-item class="item-thumbnail-left positive" id="search-list-item14">
                    <img src="img/1xhN7cWAQWOG38muazQO_IMG_9933-Version-2.jpg">
                    <h2positive>Daintee Chinese Restaurant
                        <p style="white-space:normal;">48, Montpellier Rd, Burwood, Vic</p>
                    </h2positive>
                </ion-item>
            </ion-list>
            <div id="search-markdown18" style="color:#FF0000;text-align:right;">
                <p>
                    <strong>$ 12.45</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="search-list-item-container8">
            <ion-list id="search-list12">
                <ion-item class="item-thumbnail-left positive" id="search-list-item32">
                    <img src="img/1xhN7cWAQWOG38muazQO_IMG_9933-Version-2.jpg">
                    <h2positive>Bon Bons Bakery
                        <p style="white-space:normal;">Burwood Highway, Warragul Rd, VIC</p>
                    </h2positive>
                </ion-item>
            </ion-list>
            <div id="search-markdown23" style="color:#FF0000;text-align:right;">
                <p>
                    <strong>$ 12.45</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>