<ion-view title="Sign up Successfull" hide-nav-bar="true" id="page7">
    <ion-content padding="true" style="background: url(img/R5WfPWq8ThyhBfzGBWjN_sea.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/YMxDLkpUSvGj16wsMkct_dineLogo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <h3 id="signUpSuccessfull-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;">Your account is successfully created!</h3>
        <div class="spacer" style="width: 300px; height: 140px;"></div>
        <h5 id="signUpSuccessfull-heading6" style="color:#FFFFFF;font-weight:600;text-align:center;">Logging to explore great restaurant deals around you</h5>
        <a ui-sref="login" id="signUpSuccessfull-button8" class="button button-positive  button-block">Yes. Log me in!</a>
    </ion-content>
</ion-view>