<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Nearby Deals" icon="ion-ios-flame" href="#/page1/dealsNearYou" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Popular" icon="ion-ios-people" href="#/page1/popularDeals" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Top Rated" icon="ion-android-star" href="#/page1/topRated" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Search" icon="ion-search" href="#/page1/tab2/search" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="My Account" icon="ion-ios-contact" href="#/page1/profile" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>